@import "tailwindcss";

@layer base {
  body {
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #C5A059 #1A2B48;
}

html {
  scroll-behavior: smooth;
}