Options -MultiViews -Indexes
RewriteEngine On

# Yönlendirme zaten yapıldıysa tekrar yönlendirme
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Auth header desteklemek istersen (ileride token kullanırsan) apache'nin silmesini engeller:
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# url formatını değiştirmek: ornek.com/api/home -> /api/index.php?route=home
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
